.code-editor-container {
  background-color: #001528;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;

  .line-number {
    background-color: #001528;
    color: #ffffff;
    width: 30px;
    overflow: hidden;
    line-height: 20px;
    resize: none;
    border-width: 0;
    padding-top: 10px;
    height: 100%;
    text-align: center;
  }

  .code-editor {
    height: 100%;
    font-family: 'Fira code', 'Fira Mono', 'monospace';
    font-size: 12;
    border-width: 0;
    line-height: 20px;
    width: 100%;
    color: #ffffff;
    border-radius: 4;
  }
}
