.App {
  display: flex;
  flex-grow: 1;
  height: 100vh;
  margin: 2rem;

  .left-side {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .spacer {
    height: 1rem;
  }

  .right-side {
    width: 100%;
    height: 100%;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
