.App {
  display: flex;
  flex-grow: 1;
  height: 92vh;
  margin: 2rem;
  font-family: Ubuntu, Helvetica, Arial, sans-serif;

  .left-side {
    width: 100%;
    max-width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .spacer {
    height: 1rem;
  }

  .right-side {
    width: 100%;
    max-width: 50%;
    height: 100%;
    display: flex;
    margin-left: 1rem;
    justify-content: center;
    flex-direction: column;
  }
}
