.box-header {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .title {
    background-color: #001528;
    width: fit-content;
    padding: 1rem;
  }

  .box-header-undo-button {
    .undo-arrow-left {
      background-color: #02203c;
      color: #ffffff;
      height: 100%;
      width: 4rem;
      border: none;
      margin-right: 0.2rem;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        opacity: 0.8;
      }
    }

    .box-header-run-button {
      background-color: #0046c7;
      color: #ffffff;
      padding: 0 1rem;
      border: none;
      cursor: pointer;
      transition: all 0.2s ease;
      width: 7rem;
      height: 100%;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .box-header-execute-button {
    background-color: #008529;
    color: #ffffff;
    padding: 0 1rem;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 7rem;

    &:hover {
      opacity: 0.8;
    }
  }

  .arrows-container {
    .arrow-left {
      background-color: #257dbc;
      color: #ffffff;
      height: 100%;
      width: 4rem;
      border: none;
      margin-right: 0.2rem;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        opacity: 0.8;
      }
    }

    .arrow-right {
      background-color: #257dbc;
      color: #ffffff;
      height: 100%;
      width: 4rem;
      border: none;
      margin-left: 0.2rem;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
