.box-header {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .title {
    background-color: #001528;
    width: fit-content;
    padding: 1rem;
  }

  .box-header-button {
    background-color: #0046c7;
    color: #ffffff;
    padding: 0 1rem;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      opacity: 0.8;
    }
  }
}
